

body{
  color : white	;
}

.js-clock {
  text-align: center;
  font-size: 80px;
}

.empty{
  display: inline-block;
  width : 1000px;
  
}

.content_NameToDo{
  display: inline-block;
}

.clicked {
  color : blue;
}

.form,
.greetings{
  display: none;
  text-align: center;
  font-size : 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

.showing{
  display: block;
}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}



.js-weather {
  display: inline-block;
  vertical-align: bottom;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity : 1;
  }
}